include block_html/_style.pug
include block_html/_include.pug

.page
	.page-content
		.slider
			.slider__el-wrap
				.slider__el(style="background-image:url('img/slide-1.jpg')")
			.slider__el-wrap
				.slider__el(style="background-image:url('img/slide-2.jpg')")
			.slider__el-wrap
				.slider__el(style="background-image:url('img/slide-3.jpg')")
			.slider__el-wrap
				.slider__el(style="background-image:url('img/slide-4.jpg')")
			a(href="https://letbefit.ru/?coupon=STORIES").slider__el-wrap
				.slider__el(style="background-image:url('img/slide-5.jpg')")
		.control-wrap
			.control

include ./block_html/_script.pug
